.white-box {
    position: fixed;
    top: 5vh;
    right: 10vw;
    height: 50vh; /* Full height of the viewport */
    width: 25vw; /* Adjust the width as needed */
    background-color: rgba(255, 255, 255, 0.7); /* White with 0.7 opacity */
    border-color: grey;
    border-style: solid;
    border-width: 2px;
    border-radius: 5%;
}